@value colors: "../../styles/colors.css";
@value background, highlight from colors;

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem auto;
    max-width: 30vw;
    border: 2px #ffffff solid;
}

.header {
    margin: 1rem auto;
    min-height: 1.17rem;
    line-height: 1.17rem;
}

.row {
    display: flex;
    width: 50vw;
    flex-grow: 1;
}

.resetButton {
    background: background;
    color: highlight;
    border: #ffffff 2px solid;
    font-size: 1.5rem;
    border-radius: 0.25rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}

.resetButton:hover {
    background: highlight;
    color: #ffffff;
}