* {
  box-sizing: border-box;
}

.App {
  background-color: #282c34;
  color: #fff;
  text-align: center;
  min-height: 100vh;
}

.App-header {
  align-items: center;
  color: #61dafb;
  display: flex;
  flex-direction: column;
  font-size: clamp(1rem, -1.2rem + 8.333vw, 1.17rem);
  justify-content: center;
}

